{% extends 'base.html' %}

{% block title %}
Profile details
{% endblock title %}

{% block content %}

    <div class="ui grid">
        <br>
            <div class="row">
                <div class="four wide column">
                    <img class="ui medium rounded image " src= {{object.avatar.url}}>
                    <h2> {{object.user}} </h2>
                    <div class="ui vertical fluid menu">
                        <div class="item">
                            Posts
                            <div class="ui label"> {{object.get_posts_no}} </div>
                        </div>
                        <div class="item">
                            Likes given
                            <div class="ui label"> {{object.get_no_of_likes_given}} </div>
                        </div>
                        <div class="item">
                            Likes received
                            <div class="ui label"> {{object.get_no_of_likes_received}} </div>
                        </div>
                        <div class="item">
                            Friends
                            <div class="ui label"> {{object.get_friends_no}} </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column">
                    {% if no_of_posts %}
                        {% for post in posts %}
                            <div class="segment ui fluid">
                                {{post.content}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if object.user not in rel_receiver and object.user not in rel_sender %}
                    <form action="{% url 'profiles:all-profiles-view' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{object.pk}}">
                        <button type="submit" class="ui positive basic button"><i class="plus square icon"></i>Add to friends</button>    
                        </form>
                {% endif %}
                <br> 
                            
                            
                {% if object.user in rel_receiver and request.user not in object.friends.all %}
                    <button class="ui disabled button"><i class="user icon"></i>Waiting for approval</i></button>
                {% endif %}
                            
                {% if request.user in object.friends.all %}
                    <form action=" {% url 'profiles:remove-friend-view' %} " method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{object.pk}}">
                        <button type="submit" class="ui negative basic button"><i class="minus square icon"></i>Remove from friends</button>
                    </form>
                {% endif %}


            </div>

    </div>

{% endblock content %}

