body {
    background: #f8f8f8 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0px 10px 0px !important;
    background-color: blueviolet!important;

}

.mb-7 {
    margin-bottom: 7px;
}


.modal-popup {
    height: 300px !important;
    top : 200px !important;
    font-size: 20px !important;
    margin-top: 6px;
}

.bwhite-lg{
    background-color: transparent !important;
    width: 10px !important;
}

.bwhite-sm{
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box{
    display: none;
}